<div class="">
  <div class="hero">
    <div class="banner-text">
      <h1 class="display-1">Last fantasy</h1>
      <p class="fs-4 ps-5">Start Writing your story today</p>
      <%= link_to "View books", books_path %>
    </div>
  </div>
</div>
